/********* General Properties *********/
@import url("https://fonts.googleapis.com/css?family=Bitter:700|Source+Sans+Pro:200");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  color: #000000;
}
/******************/

/********* Header *********/
#app {
  width: 100%;
  height: 100%;
}

.main-header-container {
  width: 100%;
  min-height: 60px;
  margin: auto;
  font-family: "Bitter", serif;
  background-color: #222327;
}

#main-header {
  width: 90%;
  margin: auto;
  background-color: #222327;
}

#left {
  padding-top: 25px;
  width: 45%;
  height: inherit;
  float: left;
  background-color: #222327;
}

#left > a {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  color: #ffffff;
}

#right {
  padding-top: 25px;
  width: 45%;
  height: inherit;
  float: right;
  background-color: #222327;
}

#right > span {
  font-weight: bold;
  padding-left: 20px;
  font-size: 18px;
  float: right;
}

#right > span a {
  color: #ffffff;
  display: inline-block;
}

/* link transition */
/* Targeted links display property shoud be set to inline-block */
.links::after {
  content: "";
  width: 0;
  display: block; /* this should be block so the line will go under the text */
  height: 2px;
  background-color: #ffffff;
  transition: width 0.4s;
}

.links:hover::after {
  width: 100%;
  transition: width 0.4s;
}

/* Intro Section */

.intro {
  display: flex;
  width: 100%;
  min-height: 400px;
  /* margin: 0 auto 50px auto; */
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #222327;
  font-size: 30px;
}

.intro > * {
  line-height: 3rem;
  color: #ffffff;
  margin: 0 auto;
  width: 90%;
}

/********* Footer *********/
#main-footer {
  width: 100%;
  height: 200px;
  text-align: center;
  color: #000000;
}

#social-media-icons-list {
  width: 100%;
  min-height: 95;
  padding-top: 80px;
}

#social-media-icons-list span {
  padding: 0 5px;
}

.sm-icon:hover {
  cursor: pointer;
}

#copyright {
  width: 100%;
  min-height: 95px;
  padding-top: 70px;
}

#copyright p {
  padding-bottom: 15px;
}

/*******************/
/* HOME PAGE */
/*******************/

#home-intro p {
  font-size: 29px;
}
/* Gallery Section */

#gallery {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-gallery {
  width: 50%;
  height: 500px;
}

.home-gallery:nth-child(1) {
  background-image: url(/src/images/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-gallery:nth-child(2) {
  background-image: url(/src/images/img2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-gallery:nth-child(3) {
  background-image: url(/src/images/img3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-gallery:nth-child(4) {
  background-image: url(/src/images/img4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*******************/
/* CODE PAGE */
/*******************/

#code-intro {
  width: 100%;
  color: #ffffff;
  background-color: #222327;
  /* background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    radial-gradient(
      at 50% 0%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 50%
    );
  background-blend-mode: soft-light, screen; */
}

#code-intro > * {
  margin: 0 auto;
  width: 90%;
}

#code-intro h1 {
  font-size: 40px;
}

#code-intro p {
  font-size: 1.2rem;
}

#projects-container {
  display: grid;
  width: 90%;
  min-height: 100px;
  margin: 50px auto 0 auto;
  /* grid-template-rows: auto auto; */
  grid-template-columns: repeat(1fr, minmax(500px, 1fr));
  grid-gap: 50px;
  grid-template-areas:
    "proj1 desc1"
    "desc2 proj2";
}

.projects {
  min-height: 500px;
}

.projects-image:nth-child(1) {
  background-image: url(/src/images/proj1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: proj1;
}

.projects-image:nth-child(2) {
  background-image: url(/src/images/proj2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: proj2;
}

.projects-desc:nth-child(1) {
  grid-area: desc1;
}

.projects-desc:nth-child(2) {
  grid-area: desc2;
}

.projects-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 15px;
  text-align: left;
}

.projects-desc h6 {
  font-size: 20px;
  line-height: 1rem;
}

.projects-desc p {
  font-size: 17px;
  padding: 20px 0;
  line-height: 2rem;
}

.view-code-btn {
  width: 110px;
  height: 50px;
  border: 1px solid #000000;
  font-size: 1rem;
  border-radius: 3px;
  background-color: #ffffff;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  transition: 0.4s;
}

.view-code-btn:hover {
  cursor: pointer;
  transition: 0.4s;
  color: #ffffff;
  background-color: #000000;
}

/*******************/
/* ABOUT PAGE */
/*******************/
#about-intro {
  width: 100%;
}

#about-intro > * {
  margin: 0 auto;
  width: 90%;
}

#about-intro p {
  font-size: 25px;
}

#about-desc-container {
  width: 90%;
  margin: 50px auto auto auto;
  min-height: 100px;
}

#about-desc {
  width: 50%;
  margin: auto;
  font-size: 18px;
}

#about-desc p {
  font-size: 17px;
  padding: 20px 0;
  line-height: 2rem;
}

@media only screen and (max-width: 564px) and (min-width: 400px) {
  /* Header/navbar */
  #main-header {
    width: 100%;
  }
  #left,
  #right,
  #right span {
    width: 100%;
    clear: both;
    text-align: center;
  }

  /* Footer */
  /* Home page */
  .home-gallery {
    width: 100%;
    height: 500px;
  }

  /* Code Page */
  #code-intro h1 {
    font-size: 28px;
  }

  #code-intro p {
    line-height: normal;
  }

  .projects {
    min-height: 200px;
  }

  #projects-container {
    display: grid;
    width: 90%;
    min-height: 100px;
    margin: 50px auto 0 auto;
    grid-template-columns: repeat(1, 1fr);
    /* grid-gap: 50px; */
    grid-template-areas:
      "proj1"
      "desc1"
      "proj2"
      "desc2";
  }

  .projects-desc > h6 {
    text-align: center;
  }

  .view-code-btn {
    width: 100%;
  }

  /* about page */
  #about-desc {
    width: 100%;
    margin: auto;
    font-size: 18px;
  }

  #about-desc h3 {
    text-align: center;
  }
}
